/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font-weight: normal;
     vertical-align: baseline;
 }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
     display: block;
 }
 
 body {
     line-height: 1;
 }
 
 blockquote, q {
     quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: none;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 
 /* custom */
 a {
     color: #7e8c8d;
     text-decoration: none;
     -webkit-backface-visibility: hidden;
 }
 
 li {
     list-style: none;
 }

 
 ::-webkit-scrollbar-track-piece {
     background-color: rgba(0, 0, 0, 0.2);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:vertical {
     height: 5px;
     background-color: rgba(125, 125, 125, 0.7);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:horizontal {
     width: 5px;
     background-color: rgba(125, 125, 125, 0.7);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent !important;
} 

html, body {
    width: 100%;
    height: 100%;
    font-size: 26.6666vw;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; 
    text-size-adjust: 100% !important;
}
 img{
     max-width: 100%;
     vertical-align: top;
     object-fit: scale-down;
 }

 body {
     -webkit-text-size-adjust: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }


 .van-nav-bar__title{
     font-size : .14rem ;
 }
 .van-hairline--bottom::after{
     border-bottom-width: 0 ;
 }
 .bscroll-vertical-scrollbar{
     width: .2rem !important;
 }
 .bscroll-indicator{
     height: .6rem !important;
 }
 .bookContent p{
     padding: .08rem 0 ;
 }
 /* .van-overlay{
     background: transparent !important;
 } */
 .app >  .van-overlay{
    background: rgba(0, 0, 0, .7) !important;
}
 .van-search__content{
     background:#F4F4F4;
 }
 .app >.van-popup{
     background: transparent !important;
 }
 .van-popup__close-icon{
     font-size: .2rem;
     padding: .05rem;
     background: rgba(255, 255, 255,.1);
     border-radius: 50%;
 }

 .van-divider::after, .van-divider::before{
    border-color:rgba(255, 203, 143,.6)
 }

 .van-field--error .van-field__control, .van-field--error .van-field__control::placeholder{
     color: #7e8c8d;
 }
 .el-table__body-wrapper{
     max-height: 480Px;
     overflow-y: auto !important;
 }
 .el-table__body-wrapper::-webkit-scrollbar{
     width: 10Px;
     height: 10Px;
     background-color: white;
 }

 ::-webkit-scrollbar-track-piece{
     background: transparent;
 }
 .is-leaf{
     background: #f5f7fa !important;
     color: #909399;
 }

 .el-table{
    border: 1Px solid rgba(0, 0, 0, .08);
 }

 .van-calendar__body::-webkit-scrollbar{
     width: 6px !important;
 }

